{% extends 'admin/base.html' %}

{% block extrahead %}
    {{ block.super }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Wait for jQuery to be ready
        $(document).ready(function() {
            $('#id_discord_llm_agent').prop('disabled', true);
            try{
            $("#id_read_model_name").empty()
            $("#id_write_model_name").empty()
            }catch{}



            $('#id_database').on('change', function () {

                $("#id_read_model_name").empty();
                $("#id_write_model_name").empty()

                var url = "{% url 'ajax_get_odoo_database' %}";
                $.getJSON(url, { id: $(this).val() }, function (j) {
                    var options_read_model = '<option value="">---------</option>';
                    var options_write_model = '<option value="">---------</option>';
                    for (var i = 0; i < j.length; i++) {
                        options_read_model +=
                            '<option value="' + j[i].id + '">' + j[i].read_model + "</option>";

                        options_write_model +=
                            '<option value="' + j[i].id + '">' + j[i].write_model + "</option>";
                    }
                    $("#id_read_model_name").html(options_read_model);
                    $("#id_write_model_name").html(options_write_model);
                    $('#id_read_model_name').prop('disabled', false);
                    $('#id_write_model_name').prop('disabled', false);
                });

                })



         

            $('#id_discord_llm_config').on('change', function () {
                $("#id_discord_llm_agent").empty();
                var url = "{% url 'ajax_get_config' %}";
                $.getJSON(url, { id: $(this).val() }, function (j) {
                    var options = '<option value="">---------</option>';
                    for (var i = 0; i < j.length; i++) {
                        options +=
                            '<option value="' + j[i].id + '">' + j[i].agent_name + "</option>";
                    }
                    $("#id_discord_llm_agent").html(options);
                    $('#id_discord_llm_agent').prop('disabled', false);
                });

                })
        });
    </script>
{% endblock %}
